<dic class="container-fluid">
    <div class="row">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{contract?.contractor}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{contract?.type}}</h6>
                <h6 class="card-subtitle mb-2 text-muted">{{contract?.creatorName}}</h6>
                <p class="card-text">{{contract?.description}}</p>
                <a href="#" class="card-link">Back</a>
            </div>
        </div>
    </div>
</dic>